:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  background-color: white;
}

h1 {
  font-family: var(--main-font);
  font-size: 96px;
}

h2,
h3,
p {
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.homepage-intro {
  background: var(--section-color);
  text-align: left;
  padding: 160px 20px;
}

.homepage-intro p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.homepage-intro h2 {
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  margin: 5px;
}

.projects-preview {
  margin: 60px auto;
  text-align: center;
}
.projects-preview h3 {
  margin-top: 30px;
}
